.AppHeader {
  color: #fff;
  height: 64px;
  line-height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  position: relative;
  top: 0;
  z-index: 100;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.ant-popover {
  /* margin-top: -20px; */
}
.btn-open {
  height: 30px;
  width: 20px;
  left: 87%;
  font-size: 31px;
  color: black;
  position: relative;
  top: -1px;
  z-index: 200;
}
.menu-btn {
  font-size: 16px !important;
  width: 40px !important;
  height: 40px !important;
}
.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-account {
  cursor: pointer;
}
.ant-menu {
  margin-top: 30px;
  border-right: 0 !important;
}
.avatar-container {
  padding: 20px 0 0 0;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-bottom: 1px solid;
  padding-bottom: 21px;
}

.avatar-dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ant-popover-arrow {
  left: 83% !important;
  top: -41% !important;
}
.ant-popover-content {
  width: 63%;
  left: 50px;
  top: -31px;
}
.search-header {
  color: #262626;
  position: absolute;
  left: 1%;
}
.ant-dropdown-trigger {
  color: black;
}
.ant-dropdown-trigger:hover {
  color: black;
}

.logo {
  height: 20px;
}

.SideMenu {
  color: #fff;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

@media screen and (max-width: 900px) {
  .ant-layout-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 6px;
  }
}
