.employee_avt {
  display: flex;
  align-items: center;
}
.employee_name {
  font-weight: 500;
  font-size: 25px;
}

.employee_title {
  margin-left: 35px;
}

.employee_position {
  font-size: 16px;
  font-weight: 500;
  color: #167ec5;
  margin-bottom: 2px;
}

.avt {
  max-width: 100px;
  border-radius: 50%;
}

.vertical-line {
  border-left: 1px solid #b3b2b2af;
  height: 60px;
  margin-left: 110px;
}

.employee_label {
  color: rgb(105, 105, 105);
  font-size: 16px;
  font-weight: 500;
}

.info {
  font-size: 16px;
  font-weight: 500;
}

.title {
  font-weight: 500;
  font-size: 20px;
}

.profile_line {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid rgb(184, 184, 184);
}

.horizontal_container {
  display: flex;
  align-items: center;
}

.content1,
.content2 {
  flex: 1;
  min-width: 100%;
}

.content_1,
.content_2 {
  flex: 1;
}

.content_1 {
  margin-left: 40px;
}

.employee_content {
  display: flex;
}

.employee_info {
  margin-left: 20px;
  font-size: 16px;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.active {
  background-color: green;
}

.inactive {
  background-color: red;
}

.status-show {
  display: flex;
  align-items: center;
}

.status-text {
  margin-left: 10px;
}

.pie-chart-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
