.dashboard-cards {
  margin-bottom: 20px;
}

.chart-container {
  text-align: center;
  background-color: white;
}

.PageContent {
  padding: 24px;
}

.ant-space-horizontal {
  gap: 70px;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  margin: 30px;
  gap: 30px;
}

.chart-container-2 {
  width: 50%;
  background-color: white;
}
