.header-container {
  background-color: rgb(26, 148, 255);
  padding: 10px 120px;
  display: flex;
  align-items: center;
}

.header-text {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-align: left;
}
.header-action {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-account {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 10px;
  font-size: 12px;
}
.header-icon {
  font-size: 30px;
}
.header-signIn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
