*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
a {
  color: inherit;
}

.menu-mobile {
  width: 270px !important;
}
.ant-drawer-content-wrapper {
  width: 270px !important;
}

.sider-menu {
  overflow: hidden !important;
}

@media screen and (max-width: 900px) {
  .ant-layout-sider-collapsed {
    max-width: 50px !important;
    min-width: 50px !important;
  }
  .logo {
    margin-left: 0;
  }
  .close-icon .anticon-close {
    font-size: 21px;
  }
  .header-input {
    display: none;
  }
}
