#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
select option.flag {
  padding-left: 30px;
  font-size: 16px;
}
.select-wrapper {
  position: relative;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.custom-select:active,
.custom-select:focus {
  border-color: #007bff; /* Màu sắc tùy thuộc vào thiết kế của bạn */
  outline: none;
}

/* Sử dụng sau khi mở dropdown */
.custom-select option {
  border-radius: 5px;
  /* Thêm các thiết lập kiểu khác nếu cần thiết */
}

select {
  border-radius: 8px; /* Điều chỉnh giá trị tùy theo sở thích của bạn */
  padding: 8px; /* Tăng độ dày của phần nền để làm cho góc trông đẹp hơn */
  font-size: 16px; /* Điều chỉnh kích thước chữ theo ý muốn của bạn */
}

/* Làm tròn góc của option */
select option {
  border-radius: 8px; /* Điều chỉnh giá trị tùy theo sở thích của bạn */
  padding: 8px; /* Tăng độ dày của phần nền để làm cho góc trông đẹp hơn */
}
