*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.App {
}
.AppHeader {
  color: #fff;
  height: 64px;
  line-height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.ant-popover {
  margin-top: -20px;
}
.ant-menu {
  margin-top: 30px;
}
.avatar-container {
  padding: 20px 0 0 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.ant-popover-arrow {
  left: 106px !important;
}
.ant-popover-content {
  width: 125%;
}
.avatar-dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-header {
  color: #262626;
  position: absolute;
  left: 1%;
}
.header-input {
  width: 50%;
}
.logo {
  height: 20px;
}
.AppFooter {
}

.SideMenu {
  color: #fff;
  height: 100vh;
}

.PageContent {
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
}
